<h2>How to leech</h2>
<h3 style="width:100%; height: 28px; margin-top: -2.33em; -webkit-margin-after: 1.2em; margin-bottom: 1.2em;"><a [routerLink]="['/info']" class="back float-left"><i class="fas fa-arrow-left"></i> Back</a></h3>
<div class="content">
  <h3>Normal mode</h3>
  <p>
    There is no gear requirement. You may completely AFK this, just please do not lobby. You may be required during wave 10 (this will be approximately 20 minutes in and you will be alerted whether you will be needed at wave 1 and reminded before wave 10).
  </p><br>
  <h3>Hard mode</h3>
  <p>
    There is no gear requirement. If you are leeching BXP or collector points, you are expected to load the cannon every wave. This is about 1 action every 2 minutes.
  </p>
  <p>For anything else, you may afk completely - just do not lobby. You are expected to go to a cannon if you have low combat levels.
  </p><br>
  <mat-divider></mat-divider>
  <h3>King</h3>
  <h4>Gear</h4>
  <div class="row">
    <div class="col">
      Either
      <ul>
        <li>Highest tier crossbow</li>
        <li>Range shield</li>
        <li>Any tier bolts</li>
        <li>Do NOT bring any armour</li>
      </ul>
    </div>
    <div class="col">
      or
      <ul>
        <li>Highest tier shieldbow</li>
        <li>Appropriate ammunition (arrows)</li>
        <li>Do NOT bring any armour</li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <img src="https://puu.sh/zq7Ka.PNG">
    </div>
    <div class="col">
      <img src="https://puu.sh/zq7OS.PNG">
    </div>
  </div>
  <h4>Important information</h4>
  <ul>
    <li>Tickets are not provided. You should purchase one from the GE yourself or buy one from a rank at the wave.</li>
    <li>Do not use AOE abilities. These are: Corruption Shot, Ricochet, and Bombardment (remove these from your action bar).</li>
    <li>Do not attempt the kill if you do not have at least 20 minutes and a stable internet connection.</li>
    <li>Have surge and resonance easily accessible.</li>
  </ul>
  <h4>King wave</h4>
  <ol>
    <li>Go to the cannons located southwest and southeast. Load the hopper if applicable. You may afk for approximately 2-3 minutes.</li>
    <li>You will be summoned by a rank and shown a) the safe spot b) where to deposit/pick up your flamethrower. This will be useful for later in the wave.</li>
    <li>You will be requested to idle the east side of the map for approximately 5 minutes.</li>
    <li>[Conditional] If you are a collector, you will need to pick up 5 items. You will be reminded and directed when the time is right by a rank.</li>
    <li>[Conditional continued] After picking up 5 items, head back east and click the anvil 5 times. This will repair the items you just picked up.</li>
    <li>[Conditional continued] Follow the rank west and deposit the 5 items (just click once).</li>
    <li>Pick up the flamethrower from the spot shown to you in step 2.</li>
    <li>Head to the safe spot.</li>
    <li>Attack the king with your range weapon.</li>
    <li>After the message 'The Penance King is resistant to your attacks', a scroll will appear on the floor. Resonance and pick up said scroll.</li>
    <li>Inspect the scroll, it will tell you a word. On screen there will be 5 words which we have to read out from left to right. Click your word when it's your turn. Only click once. (In the image the person with the 'Labefacto' scroll has to click on 'Labefacto'.) <br><br><img src="https://puu.sh/ctg4t.jpg"></li>
    <li>When all 5 words have been said, the king will be attackable. Equip your flamethrower and attack him.</li>
    <li>Stay in the safe spot while flaming the King. After he stomps, re-equip your ranged weapon (and shield).</li>
    <li>Repeat from step 8 two more times and the kill should be complete.</li>
  </ol>

</div>
