#version {
    float: right;
}

input[type="text"], select, input[type="number"] {
    font-size: 16px;
}

.noticecontainer {
    background-color: #fff0b3;
    padding: 5px 5px 1px 5px;
    border-radius: 5px;
}

.noticecontainer ul {
    margin: 5px;
}

#calculator {
    all: initial;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    margin: 0 auto;
    display: table;
}

#infotbl {
    width: 100%;
    text-align: left;
}

#calculator .tblnotice {
    font-weight: bold;
}

#calculator .priceh {
    font-weight: bold;
    font-size: 20px;
}

#infotbl td a {
    text-decoration: none !important;
    color: inherit;
    text-shadow: none;
    font-weight: normal;
}

#infotbl tr, #infotbl th {
    background: none;
    background-color: #ffffff;
    color: #000000;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

#infotbl td {
    color: inherit;
    background-color: inherit;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

#infotbl th {
    font-weight: bold;
    text-align: center;
}

#infotbl .tblprice {
    text-align: right;
}

#infotbl .tblrequest {
    text-align: center;
}

#infotbl tr:hover {
    background-color: #f1f1f1;
}

#infotbl a {
    cursor: pointer;
    cursor: hand;
}

#calculator br {
    padding: 5px;
}

#clevel, #alevel, #dlevel, #hlevel, #wantclevel, #wantalevel, #wantdlevel, #wanthlevel {
    width: 50px;
    margin-bottom: 5px;
}

.space {
    margin-bottom: 15px;
}

#info {
    vertical-align: top;
    font-weight: bold;
}

#calculator #cost {
    display: inline-block;
}

#calculator #rightpoints, #calculator #leftpoints, #calculator #leftxp, #calculator #rightxp {
    width: 100%
}

#calculator button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0.25em;
    padding: 0 1em;
    outline: none;
    border: 1px solid rgba(211, 211, 211, 1);
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
    color: rgba(114, 114, 114, 1);
    text-decoration: none;
    text-align: left;
    text-indent: 0;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 0;
    white-space: nowrap;
    word-spacing: 0;
    background: rgba(234, 234, 234, 1);
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8), 0 1px 0 0 rgba(0, 0, 0, 0.298039);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8), 0 1px 0 0 rgba(0, 0, 0, 0.298039);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#calculator button:hover {
    cursor: pointer;
    border: 1px solid rgba(178, 178, 178, 1);
    color: rgba(76, 76, 76, 1);
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 0 rgba(0, 0, 0, 0.298039);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 0 rgba(0, 0, 0, 0.298039);
}

#calculator button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

#calculator input, select {
    background: #ffffff;
    color: #000000;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
    vertical-align: middle;
}

#calculator input:focus, select:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

#calculator-main {
    width: 650px;
    background-color: #ffffff;
    vertical-align: middle;
    border-radius: 5px;
}

#leftxp select, #leftxp input {
    margin-bottom: 10px;
    vertical-align: top;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    text-shadow: none;
    font-weight: bold;
    font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

.tablinks {
    border-right: 1px solid #A9A9A9;
}

ul.tab li:last-child a {
    border-right: none;
    padding: 8px 16px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
