<h2>Customer information</h2>

<div class="content">
  <h3>How we operate</h3>
  <ul>
    <li>You are expected to guest in the CC, 'Leech BA' or alert us to your presence within the <a href="https://discordapp.com/invite/kA88AbP" target="_blank">discord</a>.</li>
    <li>We work with a queue system. To be added to it, use the 'request' button at the calculator and a rank will confirm with you in either the discord or the CC.</li>
    <li>You will not be removed from the queue unless you are done or have not been seen for over 2 weeks.</li>
    <li>We will call you via the CC or discord (if provided) when it is your turn (CC has priority over discord).</li>
    <li>You must respond when called regardless of availability to leech.</li>
    <li>You are expected to pay for the round and before the round when it is your turn. You may wish to pay up to 1 hour in advance.</li>
    <li>Information on how to leech can be found <a [routerLink]="['/howtoleech']">here</a>.</li>
  </ul><br class="no-select">

  <h3>FAQ</h3>
  <ol>
    <li><strong>Who do I pay?</strong><br>
      You may pay any rank in the team. Please check their rank on discord or in the CC 'Leech BA' before payment. If you're not on discord and the rank isn't ranked in the CC, you may ask someone who is ranked in the CC to verify the other person's rank. We will help reduce the likelihood of impersonators, but we cannot be accountable should you pay a non-rank.
    </li>
    <li><strong>How long will it take?</strong><br>
      The in-game leeching duration will be explained upon request but rough estimates can be found in the calculator. The time before you are called up will depend on the availability of ranks therefore cannot be predicted. This may take up to days or weeks. If it is for a completionist or trimmed completionist cape and it is not your last requirement, we will most likely be able to help you in time.
    </li>
    <li><strong>Can I speed the waiting time up?</strong><br>
      We will not prioritise you over existing customers under any circumstances. As we try to pair customers together, if we have a lack of customers, you may choose speed it up by referring friends or providing an alt (you would need to also pay for them).
    </li>
    <li><strong>Why should you be trusted?</strong><br>
      We have been around since 2012 and have served hundreds of customers. This can be reflected by looking at the testimonies over at our RSOF.
    </li>
  </ol>
</div>
