<img class="banner no-select" src="assets/banner.png">
<h1>Welcome to Leech BA</h1>

<div class="content">
  <h3>Here for all your Barbarian Assault needs</h3>
  <p>We offer all Barbarian Assault related services, whether it is for:</p>
  <ul>
    <li>Completionist cape</li>
    <li>Bonus XP</li>
    <li>Level 5 roles</li>
    <li>Insignias</li>
    <li>Trimmed Completionist cape</li>
    <li>Penance king kills</li>
  </ul><br class="no-select">

  <h3>Why leech barbarian assault, why Leech BA?</h3>
  <ul>
    <li>~1.4m agility bxp/hour</li>
    <li>~1.9m mining bxp/hour</li>
    <li>~3.5m firemaking bxp/hour</li>
    <li>No need to learn the minigame</li>
    <li>Ranks have completed waves in the fastest recorded times</li>
  </ul><br class="no-select">

</div>

<h2>Links and social media</h2>
<a href="https://discordapp.com/invite/kA88AbP" matTooltip="Join our discord!"
   matTooltipPosition="below" target="_blank">
  <img class="dash-thumbnail discord no-select" src="assets/discord.png" hspace="10"></a>
<a href="http://services.runescape.com/m=forum/forums.ws?194,195,569,64782885" matTooltip="Visit our RSOF!"
   matTooltipPosition="below" target="_blank">
  <img class="dash-thumbnail rs no-select" src="assets/rs.png" hspace="10"></a>
