<h2>Request Submitted!</h2>
<h3 class="request-confirmation" align="left">
    To get added to the queue:
</h3>

<div class="request-confirmation">
    <ul>
        <li>Join the <a class="link" href="https://discordapp.com/invite/kA88AbP" target="_blank">discord</a></li>
            <ul>
                <li>Post in #customer-chat that you would like to be added to the queue.</li>
            </ul>
        
        <li>If requested points (trim req):</li>
            <ul>
                <li>Post a screenshot of your blackboard.</li> 
                <li>Post a screenshot of your hard mode status.</li> 
                <ul>
                    <li>Go to wave 1.</li> 
                    <li>Get a scroll from the table.</li>
                    <li>Right click scroll and toggle hard mode on.</li>
                    <li>Screenshot the game message and post on discord.</li>
                </ul>
            </ul>    
    </ul>


<h3 class="request-confirmation">More information about how to leech can be found <a class="link" routerLink="/info">here</a></h3>
</div>